.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/postgres-data
/pgsql17
/postgresql-*-binaries.zip
/storage/app/telegram
/storage/*.key
/storage/pail
/storage/logs/postgres.log
/vendor
database/*.sqlite
postgres-password.txt
*.session
*.session-journal
*.pyc
__pycache__/
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
